<!doctype html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>답변 상세보기 페이지</title>
    <style>
  body {
  background-image: url("https://us.123rf.com/450wm/yuttha/yuttha1611/yuttha161100075/69441821-%EC%9D%BC%EB%AA%B0-%ED%95%98%EB%8A%98-%EA%B7%B8%EB%9D%BC%EB%8D%B0%EC%9D%B4%EC%85%98-%EB%B0%B0%EA%B2%BD-%EB%8B%AC%EC%BD%A4%ED%95%9C-%EB%B0%B0%EA%B2%BD-%EC%9D%B4%EB%AF%B8%EC%A7%80.jpg?ver=6");
  background-size: cover;
  background-repeat: no-repeat;
}
    </style>
</head>
<body>
<div class="container my-3" layout:fragment="content">

    <h2>내용</h2>
    <a class="item-text-1" th:href="@{|/answer/list|}">
        <input type="submit" value="답변목록보기">
    </a> <!--답변 목록으로 돌아가는 앵커태그-->

    <a th:href="@{|/question/detail/${answer.question.id}|}">
    <div class="card my-3"><!--부트스트랩-->
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <!--연결을 구분하기 쉽게 하기 위해서 answer 라고 사용함. Controller에 detail메서드와 연결됨-->
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div><!--부트스트랩-->
    </a>


    <input class="list_btn_style" onclick="history.back()" type="button" value="뒤로가기">
</div>
</body>
</html>