<!doctype html>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>질문 상세보기 페이지</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">

    <!-- 질문 -->
    <!--<h1 th:text="${question.subject}"></h1>--> <!--Controller에 detail메서드와 연결됨-->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2> <!--부트스트랩-->
    <!--<div th:text="${question.content}"></div>--> <!--Controller에 detail메서드와 연결됨-->
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!--질문카드 끝-->

    <!--질문 상세 페이지에 답변 표시하기-->
    <!--<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>-->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5> <!--부트스트랩-->

    <!--답변 반복 시작-->
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <a th:id="|answer_${answer.id}|"></a>
        <!--answer/detail/로 연결되는 앵커-->
        <a th:href="@{|/answer/detail/${answer.id}|}" class="item-text-1">
            <!--답변을 감싸는 카드모양 부트스트랩 커스텀-->
            <div class="card-body">
                <!--답변 텍스트에 마크다운을 적용시켜주는 요소-->
                <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
                <!--해당 div안에 들어있는 요소들을 부트스트랩을 이용해서 오른쪽 끝으로 배치함-->
                <div class="d-flex justify-content-end">
                    <!--수정을 했다면 수정일 관련 카드를 띄우게 함-->
                    <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <!--등록을 했다면 등록일 관련 카드와 그 안에 작성자까지 같이 넣도록 함-->
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>

                <!--추천, 수정, 삭제 영역 작성자로 로그인했을때만 노출되게 설정-->
                <div class="my-3">
                    <!--자바스크립트를 이용해서 추천버튼을 눌렀을 때 추천수가 올라가고 팝업으로 추천하겠는지 물어보는 팝업을 호출-->
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/answer/vote/${answer.id}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                    </a>

                    <!--수정버튼-->
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="수정"></a>

                    <!--삭제버튼-->
                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="삭제"></a>

                    <!--대댓글 반복 시작, question/detail/에서 답변 카드보고 안에 들어갈 수 있도록 설계중-->
                    <div>
                        <div class="card my-3" th:each="comment : ${answer.commentList}"> <!--comment본문 반복.-->
                            <hr><!--구획선-->
                            <!--마크다운-->
                            <div class="card-text" th:utext="${@commonUtil.markdown(comment.comment)}"></div>
                            <!--수정일, 생성일, 작성자 박스 오른쪽 배치-->
                            <div class="d-flex justify-content-end">
                                <div th:if="${comment.modifyDate != null}"
                                     class="badge bg-light text-dark p-2 text-start mx-3">
                                    <div class="mb-2">modified at</div>
                                    <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                                </div>
                                <div class="badge bg-light text-dark p-2 text-start">
                                    <div class="mb-2">
                                        <span th:if="${comment.author != null}"
                                              th:text="${comment.author.username}"></span>
                                    </div>
                                    <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 대댓글 입력 폼 시도
                                        <div layout:fragment="content" class="container">
                                            <form th:object="${commentForm}" method="post">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                                                <div class="mb-3">
                                                    <label for="comment" class="form-label">내용</label>
                                                    <textarea th:field="*{comment}" class="form-control" rows="5"></textarea>
                                                </div>
                                                <input type="submit" value="저장하기" class="btn btn-primary my-2">
                                            </form>
                                        </div>
                                        -->
                </div>
            </div>
        </a>
        <form th:action="@{|/comment/create/${answer.id}|}" th:object="${commentForm}" method="post" class="my-3">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{comment}" class="form-control" rows="3"></textarea>
            <textarea sec:authorize="isAuthenticated()" th:field="*{comment}" class="form-control" rows="3"></textarea>
            <div class="d-flex justify-content-end">
                <input type="submit" value="대댓글 입력" class="btn btn-primary my-2">
            </div>
        </form>
    </div>
    <!--대댓글 입력 폼 시도2-->




    <!-- 답변 반복 끝  -->

    <!--<div>
        <ul>
            <li th:each="answer : ${question2.answerList}">
                <a th:href="@{|/answer/detail/${answer.id}|}" th:text="${answer.content}"></a>
                답변리스트에 하이퍼링크 달기 성공!
            </li>
        </ul>
        질문 상세페이지에서 답변목록에 하나하나 하이퍼링크를 달아보려고 a태그를 달았음
    </div>
    -->

    <!--답변 등록상자 넣기-->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
                  rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <div class="d-flex justify-content-between">
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
            <a th:href="@{/question/list}">
                <input type="button" value="질문목록보기" class="btn btn-primary my-2">
            </a> <!--질문 목록으로 돌아가는 앵커태그-->
        </div>
    </form>
</div>
</body>
<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>